export TASKRC=/Users/bencreasy/.config/task/task.hacking

export TWWEB_SOCIAL_AUTH_GOOGLE_OAUTH2_KEY="275944523211-oba5hb98foi0qtqhavn1u0d0n3bmhsph.apps.googleusercontent.com"

export TWWEB_SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET="Vdl2zVG58VNVl3SP7s5fUTqC"

export TWWEB_TRELLO_API_KEY="a5421a6196cbff64960cf8c537c8e7d3"
export TWWEB_TRELLO_API_SECRET="79200bfb4350947c26c934bb0a86ac36b206c97d359fd1705be794dbf6654733"
